/* =============reset css============== */
*{
    /*通配符选择器,案例特殊处理,实际开发少用  */
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
/* =============moudle css============= */
/* nav start */
.qq_nav{
    height: 150px;
    background: url("../images/nav-bg.png") repeat-x;
}
.qq_nav .wrapper{
    width: 1080px;
    height: 75px;
    margin: 0 auto;
}
.qq_nav .wrapper .logo{
    width: 100px;
    height: 75px;
    background: url("../images/nav-logo.png") no-repeat center;
    float: left;
}
.qq_nav .wrapper .nav{
    float: left;
}
.qq_nav .wrapper .nav li{
    float: left;
    font-size: 18px;
    line-height: 75px;
    margin-left: 20px;
}
.qq_nav .wrapper .nav a{
    display: block;
    padding: 0 20px;
}
.qq_nav .wrapper .nav a:hover{
    background: #12b7f5;
}
.qq_nav .wrapper .register{
    float: left;
    height: 36px;
    width: 96px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    background: #12b7f5;
    color: #fff;
    border-radius: 18px;
    margin: 19px 0 0 200px;
}
.qq_nav .wrapper .other{
    float: left;
    width: 250px;
    height: 75px;
}
.qq_nav .wrapper .other ul{
    width: 250px;
}
.qq_nav .wrapper .other li{
    float: left;
    margin-left: 40px;
}
.qq_nav .wrapper .other a{
    font-size: 14px;
    text-shadow: 0 0 2px #333;
    height: 50px;
    line-height: 50px;  
}
.qq_nav .wrapper .other span{
    float: right;
}
/* banner start */
.qq_banner{
    height: 1100px;
    background: url("../images/banner-bg.jpg") no-repeat center top;
    padding-top: 150px;
}
.qq_banner img{
    display: block;
    margin: 20px auto 0;
}
.qq_banner img:last-child{
    width: 100%;/* 自适应,等比例缩放 */
}
/* qq_sound Start */
.qq_sound h1{
    height: 300px;
    background:url("../images/sound-text.png") no-repeat center/cover;
    font-size: 0;
}
.qq_sound .bg{
    height: 500px;
    background: url("../images/sound-bg.jpg") no-repeat center/cover;
}
.qq_sound .content{
    height: 500px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.qq_sound .content .ipone{
    position: absolute;
    left: 0;
    top: -200px;
    width: 700px;
    height: 700px;
    background: url("../images/sound-phone.png") no-repeat center top/cover;
}
.qq_sound .content h2{
    float: right;
    padding-top: 100px;
    width: 500px;
    text-align: center;
    font-size: 40px;
}
.qq_sound .content p{
    padding-top: 50px;
    float: right;
    width: 500px;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 2px #333;
}

/* qq_file start */
.qq_file .bg{
    height: 500px;
    background: url("../images/file-bg.jpg") no-repeat center/cover;
}
.qq_file .content{
    height: 500px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.qq_file .content .mac{
    position: absolute;
    right: -60px;
    top: 100px;
    width: 600px;
    height: 340px;
    background: url("../images/file-mac.png") no-repeat center top/cover;
}
.qq_file .content h2{
    float: left;
    padding-top: 100px;
    width: 500px;
    text-align: center;
    font-size: 40px;
}
.qq_file .content p{
    padding-top: 50px;
    float: left;
    width: 500px;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 2px #333;
}

/* qq_interest start  */
.qq_interest .bg{
    height: 500px;
    background: url("../images/in-bg.jpg") no-repeat center/cover;
}
.qq_interest .content{
    height: 500px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.qq_interest .content .phone{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 344px;
    height: 500px;
    background: url("../images/in-phone.png") no-repeat center top/cover;
}
.qq_interest .content h2{
    float: right;
    padding-top: 100px;
    width: 500px;
    text-align: center;
    font-size: 40px;
}
.qq_interest .content p{
    padding-top: 50px;
    float: right;
    width: 500px;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 2px #333;
}
/*footer 图片代替省略*/
/* 插件 */
.qq_sound .bg,.qq_file .bg, .qq_interest.bg{
    background-attachment: fixed;
}