*{
    margin: 0;
    padding: 0;
}
.box{
    width: 590px;
    height: 470px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
    position: relative;
}
.box .imageBox{
    list-style: none;
    width: 100%;
    height: 100%;
}
.box .imageBox li{
    width: 118px;
    height: 100%;
    float: left;
    position: relative;
    /* 3D呈现 */
    transform-style: preserve-3d;
    transition: all 1s;
}
.box .imageBox li span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/1.jpg") no-repeat;
}
/* 拼接立体容器:立体容器旋转中心在电脑平面上,每一个面的图片正面朝外 */
.box .imageBox li span:nth-child(1){
    background-image: url("../images/1.jpg");
    transform: translateZ(235px);
}
.box .imageBox li span:nth-child(2){
    background-image: url("../images/2.jpg");
    transform: rotateX(90deg) translateZ(235px);
}
.box .imageBox li span:nth-child(3){
    background-image: url("../images/3.jpg");
    transform: rotateX(180deg) translateZ(235px);
}
.box .imageBox li span:nth-child(4){
    background-image: url("../images/4.jpg");
    transform:  rotateX(270deg) translateZ(235px);
}
/* 拼接背景 */
.box .imageBox li:nth-child(1) span{
    background-position: 0 0;
}
.box .imageBox li:nth-child(2) span{
    background-position: -118px 0;
}
.box .imageBox li:nth-child(3) span{
    background-position: -236px 0;
}
.box .imageBox li:nth-child(4) span{
    background-position: -354px 0;
}
.box .imageBox li:nth-child(5) span{
    background-position: -472px 0;
}
.box .left,
.box .right{
    position: absolute;
    top: 50%;
    margin-top:-35px;
    width: 50px;
    height: 70px;
    background: rgba(255, 255, 0,0.1);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.box .right{
    right: 0;
}
.box .left{
    left: 0;
}